In [1]:
import pandas as pd

In [4]:
def transform(file_path):
	data = pd.read_excel(file_path)
	df = data.copy()
	df = df.drop(columns="No")
	df = df.rename_axis('index',axis=1)
	df = df.T.reset_index()
	df.columns = df.iloc[0]
	df = df.drop(df.index[0])
	
	col_names = ['tanggal',
             'beras','beras_kb1','beras_kb2','beras_km1','beras_km2','beras_ks1','beras_ks2', 
             'daging_ayam','daging_ayam_rs',
             'daging_sapi','daging_sapi_k1','daging_sapi_k2',
             'telur_ayam','telur_ayam_rs',
             'bawang_merah','bawang_merah_sedang',
             'bawang_putih','bawang_putih_sedang',
             'cabai_merah','cabai_merah_besar','cabai_merah_keriting',
             'cabai_rawit','cabai_rawit_hijau','cabai_rawit_merah',
             'minyak_goreng','minyak_goreng_curah','minyak_goreng_merk1','minyak_goreng_merk2',
             'gula_pasir','gula_pasir_premium','gula_pasir_lokal'
            ]
	df.columns = col_names
	
	return df

In [5]:
df_2018 = transform("raw_data/2018.xlsx")
df_2019 = transform("raw_data/2019.xlsx")
df_2020 = transform("raw_data/2020.xlsx")
df_2021 = transform("raw_data/2021.xlsx")
df_2022 = transform("raw_data/2022.xlsx")
df_2023 = transform("raw_data/2023.xlsx")
df_2024 = transform("raw_data/2024.xlsx")

In [6]:
frames = [df_2018, df_2019, df_2020, df_2021, df_2022, df_2023, df_2024]
daily = pd.concat(frames)

In [7]:
daily

,tanggal,beras,beras_kb1,beras_kb2,beras_km1,beras_km2,beras_ks1,beras_ks2,daging_ayam,daging_ayam_rs,...,cabai_rawit,cabai_rawit_hijau,cabai_rawit_merah,minyak_goreng,minyak_goreng_curah,minyak_goreng_merk1,minyak_goreng_merk2,gula_pasir,gula_pasir_premium,gula_pasir_lokal
1,01/ 01/ 2018,"11,050","9,600","9,350","11,450","10,800","12,700","12,350","35,650","35,650",...,"41,700","33,750","49,650","13,000","11,350","14,050","13,650","13,550","15,450","11,600"
2,02/ 01/ 2018,"11,750","10,650","10,300","11,850","11,700","13,050","12,600","34,800","34,800",...,"44,350","39,900","48,800","13,800","11,950","14,950","14,300","14,250","16,200","12,650"
3,03/ 01/ 2018,"11,750","10,650","10,350","11,850","11,700","13,050","12,600","34,750","34,750",...,"45,000","41,000","48,550","13,850","12,000","14,950","14,300","14,250","16,150","12,650"
4,04/ 01/ 2018,"11,750","10,700","10,350","11,900","11,750","13,100","12,600","34,400","34,400",...,"45,550","41,400","49,550","13,850","12,000","14,950","14,300","14,250","16,150","12,650"
5,05/ 01/ 2018,"11,800","10,700","10,350","11,900","11,750","13,100","12,600","34,550","34,550",...,"45,500","41,700","49,350","13,800","12,000","14,950","14,300","14,250","16,150","12,650"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,22/ 11/ 2024,"15,250","14,000","13,750","15,300","15,200","16,650","16,250","37,250","37,250",...,"42,250","36,800","45,650","20,100","18,300","21,400","20,200","18,550","19,250","17,950"
236,25/ 11/ 2024,"15,100","13,950","13,750","15,300","15,150","16,600","16,200","37,350","37,500",...,"42,550","36,750","44,350","20,200","18,350","21,350","20,250","18,550","19,300","17,950"
237,26/ 11/ 2024,"15,150","13,950","13,750","15,300","15,200","16,650","16,200","37,150","37,350",...,"41,850","36,650","44,150","20,150","18,400","21,350","20,250","18,550","19,300","17,950"
238,27/ 11/ 2024,"14,400","13,600","13,500","14,800","14,350","16,100","15,450","36,200","37,350",...,"34,750","31,350","39,450","19,900","17,850","21,950","20,300","17,900","18,750","17,800"
239,28/ 11/ 2024,"15,150","13,950","13,550","15,200","14,950","16,650","16,200","38,100","38,100",...,"42,900","34,700","46,200","20,350","18,400","21,850","20,350","18,750","19,350","18,150"

In [12]:
daily.tail()

,tanggal,beras,beras_kb1,beras_kb2,beras_km1,beras_km2,beras_ks1,beras_ks2,daging_ayam,daging_ayam_rs,...,cabai_rawit,cabai_rawit_hijau,cabai_rawit_merah,minyak_goreng,minyak_goreng_curah,minyak_goreng_merk1,minyak_goreng_merk2,gula_pasir,gula_pasir_premium,gula_pasir_lokal
235,22/ 11/ 2024,"15,250","14,000","13,750","15,300","15,200","16,650","16,250","37,250","37,250",...,"42,250","36,800","45,650","20,100","18,300","21,400","20,200","18,550","19,250","17,950"
236,25/ 11/ 2024,"15,100","13,950","13,750","15,300","15,150","16,600","16,200","37,350","37,500",...,"42,550","36,750","44,350","20,200","18,350","21,350","20,250","18,550","19,300","17,950"
237,26/ 11/ 2024,"15,150","13,950","13,750","15,300","15,200","16,650","16,200","37,150","37,350",...,"41,850","36,650","44,150","20,150","18,400","21,350","20,250","18,550","19,300","17,950"
238,27/ 11/ 2024,"14,400","13,600","13,500","14,800","14,350","16,100","15,450","36,200","37,350",...,"34,750","31,350","39,450","19,900","17,850","21,950","20,300","17,900","18,750","17,800"
239,28/ 11/ 2024,"15,150","13,950","13,550","15,200","14,950","16,650","16,200","38,100","38,100",...,"42,900","34,700","46,200","20,350","18,400","21,850","20,350","18,750","19,350","18,150"

In [8]:
daily.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1804 entries, 1 to 239
Data columns (total 32 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   tanggal               1804 non-null   object
 1   beras                 1804 non-null   object
 2   beras_kb1             1804 non-null   object
 3   beras_kb2             1804 non-null   object
 4   beras_km1             1804 non-null   object
 5   beras_km2             1804 non-null   object
 6   beras_ks1             1804 non-null   object
 7   beras_ks2             1804 non-null   object
 8   daging_ayam           1804 non-null   object
 9   daging_ayam_rs        1804 non-null   object
 10  daging_sapi           1804 non-null   object
 11  daging_sapi_k1        1804 non-null   object
 12  daging_sapi_k2        1804 non-null   object
 13  telur_ayam            1804 non-null   object
 14  telur_ayam_rs         1804 non-null   object
 15  bawang_merah          1804 non-null   object
 16  bawang_merah_sedang   1804 non-null   object
 17  bawang_putih          1804 non-null   object
 18  bawang_putih_sedang   1804 non-null   object
 19  cabai_merah           1804 non-null   object
 20  cabai_merah_besar     1804 non-null   object
 21  cabai_merah_keriting  1804 non-null   object
 22  cabai_rawit           1804 non-null   object
 23  cabai_rawit_hijau     1804 non-null   object
 24  cabai_rawit_merah     1804 non-null   object
 25  minyak_goreng         1804 non-null   object
 26  minyak_goreng_curah   1804 non-null   object
 27  minyak_goreng_merk1   1804 non-null   object
 28  minyak_goreng_merk2   1804 non-null   object
 29  gula_pasir            1804 non-null   object
 30  gula_pasir_premium    1804 non-null   object
 31  gula_pasir_lokal      1804 non-null   object
dtypes: object(32)
memory usage: 465.1+ KB

In [10]:
daily.to_csv('dataset/daily.csv',index=False)